 
   <c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
  visible
>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand>
        Angular
    </c-sidebar-brand>
  </c-sidebar-header>
    <c-sidebar-nav  [navItems]="routes" dropdownMode="close" />
</c-sidebar> 
  
<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">

  <ng-container>
    <c-container [fluid]="true" class="border-bottom px-4">
      <svg cIcon name="cilMenu" size="lg"></svg>
      <svg cIcon class="me-2" name="cilBell"></svg>
      <button
        cSidebarToggle="sidebar1"
        cHeaderToggler
        class="btn"
        toggle="visible"
        style="margin-inline-start: -14px;"
        aria-label="Toggle sidebar navigation"
      >
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>  
    </c-container>
    <c-container [fluid]="true" class="px-4">
      <c-breadcrumb-router />
    </c-container>
  </ng-container>

  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
</div>
